/* Add your custom styles here */
/* Add your custom styles here */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body covers the entire viewport height */
}

.container {
    flex-grow: 1; /* Grow to fill available space */
}

#hero {
    /* background-image: url("imagesDest/herobanner.jpg");
    background-size: cover;
    background-position: center; */
    color: #fff;
    padding: 100px 0;
    position: relative;
}


#slider {
    padding: 40px 0;
}
#slider h5, p{
    color: black;
    /* padding-left: 100px; */
    /* padding-top: 200px; */
}

